* {box-sizing: border-box;}

.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

h6 {
    color: white;
}

p {
    margin-bottom: 0 !important;
    color: white;
}

.checked {
    color: gold;
}

.stars {
    display: flex;
    justify-content: end !important;
}

.card:hover {
    background-color: salmon !important;
}

.d-none {
    display: none;
}
 
.dropdown-menu {
    z-index: 1000 !important;
    width: auto;
}

.text-muted {
    padding-top: 0.5em;
    border-top: solid 0.5px  gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offcanvas-body {
    overflow: visible !important;
    padding-bottom: 5px;
}

#genero {
    position: absolute;
}

#overview {
    margin-bottom: 0.5em !important;
}

.dropdown-menu li {
    display: flex;
    padding: 0.5em;
}

.dropdown-menu li p {
    padding: 0;
    padding-right: 0.6em;
}